apiVersion: networking.istio.io/{{ k8s_istio_custom_gateway_apiVersion | default('v1beta1') }}
kind: Gateway
metadata:
 name: {{ k8s_istio_custom_gateway_name | default("istio-gateway") }}
 namespace: {{ k8s_istio_custom_gateway_namespace | default("istio-system") }}
spec:
 selector:
   app: {{ k8s_istio_custom_gateway_ingressgw | default("istio-ingressgateway") }}
 servers:
 # HTTPS
 - port:
     number: 443
     name: https
     protocol: HTTPS
   tls:
     mode: SIMPLE
     serverCertificate: /etc/istio/ingressgateway-certs/tls.crt
     privateKey: /etc/istio/ingressgateway-certs/tls.key
   hosts:
{% for host in k8s_istio_custom_gateway_hosts | default(["*", ]) %}
   - "{{ host }}"
{% endfor %}

 # HTTP
 - port:
     number: 80
     name: http
     protocol: HTTP
   tls:
     httpsRedirect: true
   hosts:
{% for host in k8s_istio_custom_gateway_hosts | default(["*", ]) %}
   - "{{ host }}"
{% endfor %}
